<NavBar />

<div class="py-10 pl-10 pr-[9px] md:p-10  w-full">
    <h1 class="text-4xl">Campos del sistema  </h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        @for(seccion of seccionesCampos; track seccion){
            <CardActions [texto]="seccion.texto" [SVG]="seccion.SVG" (opcion)="getClickedSection($event)"/>
        }
    </div>


    @if(seccion == "Bancos"){
        <app-bancos />
    }
    @if(seccion == "Formularios"){
        <app-formularios />
    }                
    @if(seccion == "Localidades"){
        <app-localidades />
    }
    @if(seccion == "Unidades"){
        <app-unidades />
    }
    </div>